<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Kalkulator/src/kalkulator/Calculator.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="kalkulator.Calculator"/>
<stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="Kalkulator"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Kalkulator"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="--module-path /home/alis/Downloads/javafx-sdk-11.0.2/lib --add-modules javafx.base,javafx.graphics,javafx.controls,javafx.fxml"/>
</launchConfiguration>
