.button {
	-fx-font-size: 26px;
	-fx-border-color: black;
	-fx-border-width: 1;

}

.clean {
	-fx-background-color: rgba(0, 0, 256, 0.6);
	-fx-font-size: 22px;
}
.clean: hover{
	-fx-background-color: rgba(0, 0, 256, 0.3);
}

.clean: pressed{
	-fx-background-color: rgba(0, 0, 256, 0.8);
}
.digit: hover {
	-fx-background-color: rgba(0, 150, 10, 0.5);
}

.digit {
	-fx-background-color: rgba(200, 200, 200, 0.5);
	-fx-font-size: 26px;
	-fx-font-color: red;
}


.action {
	-fx-background-color: rgba(255, 165, 0, 0.6);
	-fx-font-size: 22px;
	-fx-font-color: black;
	
}

.action: hover{
	-fx-background-color: rgba(255, 165, 0, 0.3);
}
.action: pressed{
	-fx-background-color: rgba(255, 165, 0, 1);
}
.digit: pressed{
	-fx-background-color: rgba(0, 200, 0, 0.7);
}
.result {
	-fx-background-color: rgba(255, 165, 0, 1.0);
	-fx-font-size: 26px;
}
.result: hover{
	-fx-background-color: rgba(255, 165, 0, 0.7);
}
.result: pressed{
	-fx-background-color: rgba(255, 165, 0, 1.0);
}
